# Terraform
*.tfvars
*.tfstate
*.tfstate.backup
.terraform/
sa-key.json
Terraform/infra_stage/.terraform.lock.hcl
Terraform/YandexCloud(practicum)/01_base_constructions/.terraform.lock.hcl
Terraform/YandexCloud(practicum)/02_provider_random/.terraform.lock.hcl
Terraform/YandexCloud(practicum)/02_provider_random/.terraform.tfstate.lock.info
Terraform/YandexCloud(practicum)/03_variables_base/.terraform.lock.hcl
Terraform/YandexCloud(practicum)/04_local_and_output_values/.terraform.lock.hcl
Terraform/YandexCloud(practicum)/05_functions/.terraform.lock.hcl
Terraform/YandexCloud(practicum)/05_functions/cloud-init.yaml.tftpl
Terraform/YandexCloud(practicum)/06_management_structures/cloud-init.yaml.tftpl
Terraform/YandexCloud(practicum)/06_management_structures/.terraform.lock.hcl
Terraform/YandexCloud(practicum)/07_state_file/.terraform.lock.hcl
Terraform/YandexCloud(practicum)/08_state_remote&locking/.terraform.lock.hcl
Terraform/YandexCloud(practicum)/08_state_remote&locking_check/.env
Terraform/YandexCloud(practicum)/08_state_remote&locking_check/.terraform.lock.hcl
